body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1f1f1f;
  color: white;
}

a {
  color: #00B7FF;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
}

.search > input {
  padding: 10px;
  font-size: inherit;
  flex-grow: 1;
  background-color: #2d2d2d;
  color: white;
  border-color: #00000063;
}

.search > button {
  font-size: inherit;
  background-color: #02b902;
  border: none;
  color: white;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#player {
  margin: 10px auto;
  max-width: 100%;
}

#queue > ul {
  list-style: none;
  padding: 0;
  border: solid 1px #585858;
}
#queue  p {
  padding: 0;
  margin: 0;
}
#queue  li {
  padding: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
}

#queue  i {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 19px;
  width: 22px;
  display: inline-block;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}


#queue  li.active{
  background-color: #363636;
}

#queue  li:hover{
  background-color: #363636;
}

.userlist {
  font-size: 18px;
}
.userlist > div:first-child {
  background-color: #363636;
  cursor: pointer;
}
.userlist > div:first-child:hover {
  background-color: #585858;
}
.userlist > div > input {
  font-size: inherit;
  width: calc(100% - 5px);
  height: 33px;
  border: none;
  padding-left: 5px;
}
.userlist > div {
  color: #ffffff;
  border: 1px solid #585858;
  line-height: 35px;
  margin: 5px 0;
}
.userlist > div > span {
  padding: 0 5px;
}
