body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

#app {
  display: flex;
  flex-direction: column;
}

.search {
  padding: 20px;
}

#player {
  margin: 10px auto;
}
